@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

table,
input, 
label {
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 0.5rem;
}

td {
  padding: 0.3rem;
}

th {
  padding-right: 1rem;
  text-align: left;
}


tr:nth-child(even) {
  background: rgba(9,103,121,0.48783263305322133);
}

tr:nth-child(odd) {
  background: rgba(3, 77, 92, 0.488);
}

input[type='number'] {
  display: block;
  border-radius: 4px;
  width: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  height: 100vh;
  background: rgb(9,103,121);
  background: linear-gradient(90deg, rgba(9,103,121,0.48783263305322133) 0%, rgb(30, 85, 97) 0%, rgba(2,2,9,1) 100%, rgba(2,0,36,1) 100%);
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: grid;
  justify-content: center;
  padding: 20px;
  background: rgba(3, 71, 85, 0.488);
  box-sizing: border-box;
  border: 1px solid rgba(2,2,9,.2);
  border-radius: 10px 10px 0 0;
}

.input {
  margin-bottom: 20px;
}

.checkbox {
  margin-left: 15px;
}

.tableContainer

.tableBody,
.tableHead {
  text-align: center;
}

.tableHead {
  background: rgba(9,103,121,0.48783263305322133);
  color: rgba(7, 33, 37, 0.488);
}

.tableBody {
  border-radius: 10px;
}

.trClass {
  color: white;
  text-align: center;
  font-size: 1rem;
}